* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

header {
    background-color: rgb(31, 30, 30);
    height: 80px;
    width: 100%;
   
}

h1 {
    font: 50px;
    color: white;
    text-align: center;
    padding: 20px 10px ;
}

.box { 
    width: 25%;
    height: 300px;
    border: 2px solid;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 200px;
}

.conteudo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px
}

p {
    background-color: black;
    height: 40px;
    color: white;
}

.tempo {
    position: relative;
    margin-top: 15%;
}

button {
    position: relative;
    border:solid 1px black;
    border-radius: 20px;
    width: 28%;
    background-color: rgb(218, 218, 218); 
    color: black;
    margin-top: 15%;
    cursor: pointer;
   
   
}



@media (max-width: 800px ) {
    .box {
        width: 50%;
       
    }
}


